<div class="page-wrap d-flex flex-row align-items-center w-100" style="height: 95vh;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 text-center">
        <span class="display-1 d-block">401</span>
        <div class="mb-4 lead">Sorry, an error has occured. Please login first.</div>
        <a href="/login" class="btn btn-link">Go to Login</a>
      </div>
    </div>
  </div>
</div>